html {
    background-color: rgb(255, 254, 234);
    color: rgb(50, 49, 49);
}

.sqaure-list {
    list-style-type: square;
}

.nav{
    list-style-type: none;
    background-color: darkorange;
    padding: 5%;
}